form {
    display: inline-block;
    margin-left: 100px;
}

form input {
    padding: 8px 10px;
    font-size: 13px;
    color: rgb(95, 95, 95);
    background-color: aliceblue;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 3px;
}

form input:focus {
    outline: none;
    border: 1px solid lightskyblue;
}

form button {
    margin-top: 10px;
    padding: 3px 10px;
    background-color: aliceblue;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 3px;
    font-size: 1em;
    color: rgb(95, 95, 95);
}

form button:hover {
    cursor: pointer;
    border: 1px solid lightskyblue;
}