@import url(variabel.css);

h2 + a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

thead tr th {
    padding: 10px 20px;
    background-color: azure;
}

th,
td {
    border: 1px solid rgb(212, 211, 211);
    padding: 5px 20px;
}

tbody tr td a {
    text-decoration: none;
}

tbody tr:hover td {
    color: rgb(31, 31, 31);
}

tbody tr td > img {
    width: 100px;
    padding: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.781);
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1;
    display: none;
}

tbody tr td.foto {
    position: relative;
    text-align: center;
}

tbody tr td.foto::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/001-picture.png);
}

tbody tr td.foto:hover > img {
    display: inline-block;
}

a.logout {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: rgb(229, 217, 240);
    position: absolute;
    right: 10px;
    top: 10px;
}